.footer {
  position: sticky;
  bottom: 0;
  z-index: -1;

  @extend %horizontal-vertical-centering;

  height: 300px;

  text-align: center;
  color: #fff;

  background-image: url(../images/star.svg);
  background-size: cover;
  background-position: top;
}
