.logo {
  display: block;
  padding: 20px var(--horizontal-logo-padding);

  font-size: 24px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;

  transition: color 0.3s;

  &:hover {
    color: #ff0;
  }
}
