.menu {
  font-size: 20px;
  text-align: center;
  height: 100%;

  &__toggler {
    padding: 10px;
    background-color: transparent;
    border: 0;
    color: #fff;
    cursor: pointer;

    &::before {
      content: "=";
    }
  }
  

  &--open &__toggler::before {
    content: "x";
  }
  
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    max-height: 0;
    margin: 0;
    padding: 0;
    height: 100%;
  
    list-style: none;
    overflow: hidden;
  
    transition: max-height 0.5s;
  }
  
  &--open &__list {
    max-height: 100vh;
  }
  
  &__link {
    display: block;
    margin: 0 20px;
    padding: 20px 15px;
  
    height: 100%;
  
    color: #fff;
    text-decoration: none;
  
    transition: color 0.3s;

    &:hover {
      color: #1fc8db;
    }
  }
  
  
}


/* #endregion */
