html {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
}

.promo {
  height: 300px;
  background-image: url("https://mate-academy.github.io/fe-program/assets/MA_top.jpg");
  background-size: cover;
  background-position: top center;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1;
}

/* #region Nav */
.nav {
  font-size: 20px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: saturate(180%) blur(20px);
}

.nav__toggler {
  padding: 10px;
  background-color: transparent;
  border: 0;
  color: #fff;
  cursor: pointer;
}

.nav__toggler::before {
  content: "=";
}

.nav--open .nav__toggler::before {
  content: "x";
}

.nav__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  max-height: 0;
  margin: 0;
  padding: 0;

  list-style: none;
  overflow: hidden;

  transition: max-height 0.5s;
}

.nav--open .nav__list {
  max-height: 100vh;
}

@media (min-width: 640px) {
  .nav__list {
    flex-direction: row;
    max-height: revert;
  }

  .nav__toggler {
    display: none;
  }
}

.nav__link {
  display: block;
  margin: 0 20px;
  padding: 10px 5px;

  color: #fff;
  text-decoration: none;

  transition: color 0.3s;
}

.nav__link:hover {
  color: #1fc8db;
}
/* #endregion */

.main {
  padding: 10px 20px;
  background-color: antiquewhite;
}

.footer {
  position: sticky;
  bottom: 0;
  z-index: -1;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 300px;

  text-align: center;
  color: #fff;

  background-image: url("https://mate-academy.github.io/fe-program/assets/MA_bottom.jpg");
  background-size: cover;
  background-position: top;
}
