.menu {
  font-size: 20px;
  text-align: center;
  height: 100%;
}

.menu__toggler {
  padding: 10px;
  background-color: transparent;
  border: 0;
  color: #fff;
  cursor: pointer;
}

.menu__toggler::before {
  content: "=";
}

.menu--open .menu__toggler::before {
  content: "x";
}

.menu__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  max-height: 0;
  margin: 0;
  padding: 0;
  height: 100%;

  list-style: none;
  overflow: hidden;

  transition: max-height 0.5s;
}

.menu--open .menu__list {
  max-height: 100vh;
}

@media (min-width: 640px) {
  .menu__list {
    flex-direction: row;
    max-height: revert;
  }

  .menu__toggler {
    display: none;
  }
}

.menu__link {
  display: block;
  margin: 0 20px;
  padding: 20px 15px;

  height: 100%;

  color: #fff;
  text-decoration: none;

  transition: color 0.3s;
}

.menu__link:hover {
  color: #1fc8db;
}
/* #endregion */
